
/* header  section */

.header-section{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 100%px;
}

.header-document{
    display: grid;
    padding: 50px;
    width: 80%;
}
.header-title{
    font-size: 60px;
}

.header-btm button{
    padding: 16px 25px;
    border-radius: 5px;
    color: #FFFFFF;
    background: #DD0000;
}
.header-banner img{
    width: 500px;
}



/* main  section  */

.container{
    display: flex;
    padding: 30px;
    gap: 20px;
}

.side-menu{
    width: 350px;
    height: 250px;
    border-radius: 10px;
}
.menu{
    display: grid;
    gap: 20px;
    padding: 25px;
}
.side-menu{
    background-color: black;
}
.side-menu button{
    padding: 16px 25px;
    border-radius: 10px;
    background-color: white;
}
.side-menu .match-button{
    background-color: #DD0000;
}
.side-menu a{
    text-decoration: none;
    color: black;
}
.blog-section{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 20px;
}
.waching-time{
    display: flex;
    gap: 20px;
}

/* footer */

.footer-section{
    
    height: 300px;
    color: white;
    background-color: black;
}
.footer-title{
    text-align: center;
    padding: 80px;
}
.footer-menu{
    display: flex;
    flex-direction: row;
    justify-content:center;

}
.footer-menu a{
    text-decoration: none;
    padding: 20px;
    color: white;
}


@media screen (max-width:768px){
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
    .container{
        flex-direction: column;
    } 
    .blog-section{
        grid-template-columns: repeat(2, 1fr);
    }
}